#about {
  background-image: url(../img/about.jpg);
  max-width: 1920px;
  height: 1279px;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  display: flex;
}
.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 310px;
  width: 100%;
  margin-left: 310px;
}
.about-title-information {
  display: flex;
  flex-direction: column;
  height: 500px;
}
.about-title-information > div > h3 {
  width: 261.93px;
  height: 27.73px;
  font-family: Bebas Neue;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 2px;
  text-align: left;
  color: var(--white);
  transform: translateY(50px);
}
.about-title-information > div > h1 {
  width: 410.93px;
  height: 153.56px;
  font-family: Bebas Neue;
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 3px;
  text-align: left;
  color: var(--white);
}
.about-title-information > p {
  width: 364.85px;
  height: 173.76px;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  color: var(--white);
  text-align: justify;
  transform: translatex(180px);
}
.group6-image {
  width: 637.61px;
  height: 707.27px;
}

.switch-icon {
  transform: translate(30px, -300px);
  cursor: pointer;
  height: 39.4px;
}
.underline-design {
  border-bottom: 3px solid var(--white);
  width: 711.5px;
  height: 2.99px;
  border-radius: 4px;
  z-index: 100;
  position: relative;
}
.images-container {
  transform: translateX(-100px);
  width: 900px;
}
.mark-text {
  text-decoration: underline 4px solid var(--orange);
}

@media only screen and (max-width: 500px) {
  #about {
    height: 730px;
  }
  .about-container {
    grid-template-columns: 1fr;
    margin-top: 0px;
    margin-left: 0px;
  }
  .about-title-information {
    height: 200px;
  }
  .about-title-information > div > h3 {
    width: 153.55px;
    height: 16.24px;
    font-size: 18px;
    line-height: 18px;
    transform: translateY(0px);
    margin-left: 14.99px;
  }
  .about-title-information > div > h1 {
    width: 271.55px;
    height: 90.02px;
    font-size: 33px;
    line-height: 33px;
    transform: translateY(0px);
    margin-left: 14.99px;
  }
  .underline-design {
    width: 406.71px;
    height: 1.76px;
    border-radius: 2.34px;
    transform: translate(25px, -15px);
  }
  .about-title-information > p {
    width: 268.61px;
    height: 132.87px;
    font-size: 14px;
    line-height: 22px;
    transform: translate(100px, -15px);
  }
  .group6-image {
    width: 225.09px;
    height: 273.33px;
    transform: translate(220px, 100px);
  }
  .switch-icon {
    height: 20.25px;
    transform: translate(230px, -20px);
  }
}
