#game-features {
  background-image: url(../img/bg-image-3.png);
  max-width: 1920px;
  height: 1179px;
  background-size: cover;
  object-fit: cover;
  background-position: center;
}

#game-features .game-features-container {
  width: 413.27px;
  height: 439.67px;
  transform: translate(300px, 300px);
}
#game-features .game-features-container h2 {
  width: 262.29px;
  height: 27.7px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 2px;
  text-align: left;
  color: #ffffff;
}
#game-features .game-features-container h1 {
  width: 411.5px;
  height: 73.64px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 3px;
  color: #ffffff;
  margin-bottom: 70px;
}
#game-features .game-features-container .features-information {
  display: flex;
  gap: 20px;
}
#game-features .game-features-container .features-information div h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 2px;
  text-align: left;
  color: #ffb548;
}
#game-features .game-features-container .features-information div p {
  height: 77.79px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  color: #ffffff;
}

.progress-bar {
  transform: translate(7px, -4px);
}
.elipse1 {
  transform: translatey(-11px);
}
.elipse2 {
  transform: translatey(50px);
}

@media all and (max-width: 1000px) {
  #game-features .game-features-container {
    transform: translate(150px, 300px);
  }
}
@media all and (max-width: 700px) {
  #game-features .game-features-container {
    transform: translate(50px, 300px);
  }
}
@media all and (max-width: 570px) {
  #game-features .game-features-container {
    margin-left: 10px;
    transform: translate(0px, 0px);
    padding-top: 80px;
  }
  #game-features {
    height: 800px;
    background-position: center;
  }
}
@media all and (max-width: 450px) {
  #game-features .game-features-container {
    transform: translate(-10px, 0px);
  }
}

@media all and (max-width: 375px) {
  #game-features {
    height: 515px;
    background-position: center;
  }
  #game-features .game-features-container h2 {
    font-size: 18px;
    line-height: 18px;
  }
  #game-features .game-features-container h1 {
    font-size: 33px;
    line-height: 33px;
    margin-bottom: 0px;
  }
  #game-features .game-features-container .features-information div h3 {
    font-size: 21px;
    line-height: 21px;
  }
  #game-features .game-features-container .features-information div p {
    font-size: 14px;
    line-height: 16px;
    width: 179.68px;
    height: 131.65px;
  }
  .allies {
    transform: translateY(-31px);
  }
  .audience {
    transform: translateY(-31px);
  }
  .elipse2 {
    transform: translate(-20px, 25px);
  }
  #game-features .game-features-container {
    transform: translate(-0px, 0px);
  }
}
