.main-title {
  margin-top: 320px;
}
.main-title .main-information h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 80px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 3px;
  color: #ffffff;
}
.main-title .main-information h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2px;
  color: #ffffff;
}
.button {
  width: 260.36px;
  height: 60.06px;
  border-radius: 5px;
  border: none;
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
}
.main-title .main-information h3 {
  margin-top: 500px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #ffffff;
}
.main-title .main-information img {
  padding-bottom: 20px;
}

@media all and (max-width: 770px) {
  .main-title .main-information h1 {
    font-size: 54px;
    line-height: 54px;
  }
}

@media all and (max-width: 400px) {
  .main-title .main-information h1 {
    font-size: 33px;
    line-height: 33px;
  }
  .main-title .main-information h2 {
    font-size: 18px;
    line-height: 18px;
  }
}
