#quotes {
  background-image: url(../img/bg-image-5.png);
  max-width: 1920px;
  height: 1260px;
  margin-top: -1px;
  background-size: cover;
  object-fit: cover;
  background-position: center;
}
.card-container {
  display: flex;
  flex-direction: column;
  width: 452px;
  height: 183px;
  background: #ffffff14;
  border-radius: 12px;
  position: relative;
}
.user-info {
  display: flex;
  gap: 30px;
}
.card-container .user {
  width: 61px;
  height: 61px;
  border-radius: 32px;
  box-shadow: 10px 0px 0px #ffb548;
  margin-top: 10px;
  margin-left: 15px;
}
.card-container .twitter {
  width: 18.02px;
  height: 13.97px;
  top: 30px;
  right: 15px;
  position: absolute;
}
.user-info div h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 2px;
  text-align: left;
  color: #ffb548;
  margin-top: 20px;
}
.user-info div p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  color: gray;
}
.card-container .comments h2 {
  height: 30.33px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #ffffff;
  padding: 10px 0px 40px 15px;
}

.card-container .comments p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: gray;
  margin-left: 15px;
}
.card-container.card1,
.card-container.card3 {
  transform: translateX(140px);
  margin-bottom: 30px;
}
.card-container.card2 {
  margin-bottom: 30px;
}
.card-container.card1 {
  margin-top: 160px;
}

#quotes .quotes-title h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 2px;
  color: #ffffff;
}
#quotes .quotes-title h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 3px;
  color: #ffffff;
  margin-bottom: 50px;
}
#quotes .quotes-title p {
  width: 434.95px;
  height: 136.14px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #ffffff;
}
#quotes .quotes-title {
  margin-top: 400px;
}

@media all and (max-width: 1300px) {
  #quotes .quotes-title {
    margin-top: 200px;
  }
  .card-container.card1,
  .card-container.card3 {
    transform: translateX(0px);
    margin-bottom: 30px;
  }
}
@media all and (max-width: 1000px) {
  #quotes .quotes-title h1 {
    font: 44px;
    line-height: 44px;
    width: 400px;
    margin-top: 20px;
  }
  .card-container {
    margin-left: 50px;
  }
  #quotes .quotes-title p {
    font-size: 16px;
    width: 360px;
  }
  .card-container {
    margin: 0;
  }
  #quotes .quotes-title {
    transform: translateX(-100px);
  }
}

@media all and (max-width: 767px) {
  #quotes .quotes-title {
    margin: 70px 0px 0px 170px;
  }
  .card-container {
    margin-bottom: 300px;
    margin-left: 60px;
    margin-top: 0;
  }
}

@media all and (max-width: 550px) {
  .card-container {
    margin-left: 25px;
  }
  #quotes .quotes-title h1 {
    font-size: 54px;
  }
}
@media all and (max-width: 460px) {
  #quotes .quotes-title {
    margin-left: 110px;
  }
  #quotes .quotes-title p {
    font-size: 14px;
    width: 250px;
  }
}

@media all and (max-width: 375px) {
  #quotes {
    height: 834px;
  }
  .card-container {
    scale: 0.7;
    margin: 0;
  }
  .card-container.card1 {
    transform: translate(-80px, -250px);
    margin-bottom: 30px;
  }
  .card-container.card2 {
    transform: translate(-80px, -360px);
    margin-bottom: 30px;
  }
  .card-container.card3 {
    transform: translate(-80px, -470px);
  }
  #quotes .quotes-title h1 {
    font-size: 33px;
    line-height: 33px;
  }
  #quotes .quotes-title p {
    font-size: 14px;
    width: 289px;
  }
  #quotes .quotes-title {
    transform: translatex(-80px);
  }
}
