#system-requirments {
  background-image: url(../img/bg-image-4.png);
  max-width: 1920px;
  height: 1265px;
  background-size: cover;
  object-fit: cover;
  background-position: center;
}
#system-requirments .system-requirments-title h2 {
  height: 27.7px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 2px;
  color: #ffffff;
  margin-top: 250px;
}

#system-requirments .system-requirments-title h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 3px;
  color: #ffffff;
  margin-bottom: 240px;
}
#system-requirments .table-container {
  max-width: 573.2px;
  height: 340px;
  border: 1px solid gray;
  margin-left: 290px;
}
#system-requirments .table-container .table1 {
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
}
#system-requirments .table-container .table2 {
  border-bottom: 1px solid gray;
}
#system-requirments .table-container .table3 {
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
}
#system-requirments .table-container .table4 {
  border-bottom: 1px solid gray;
}
#system-requirments .table-container .bendras h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 2px;
  text-align: left;
  color: #ffb548;
  padding-top: 15px;
}
#system-requirments .table-container .bendras p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
}

@media all and (max-width: 1150px) {
  #system-requirments .table-container {
    margin-left: 150px;
  }
}

@media all and (max-width: 870px) {
  #system-requirments .table-container {
    margin-left: 100px;
  }
}
@media all and (max-width: 750px) {
  #system-requirments .table-container {
    margin-left: 30px;
  }
}
@media all and (max-width: 610px) {
  #system-requirments .table-container {
    margin-left: 15px;
    transform: scale(0.9);
  }
}
@media all and (max-width: 480px) {
  #system-requirments .table-container {
    margin-left: 5px;
  }
  #system-requirments .system-requirments-title h2 {
    font-size: 18px;
    line-height: 18px;
    margin-top: 60px;
  }

  #system-requirments .system-requirments-title h1 {
    font-size: 33px;
    line-height: 33px;
    margin-bottom: 60px;
  }
  #system-requirments {
    height: 700px;
  }
}

@media all and (max-width: 375px) {
  #system-requirments .table-container {
    transform: scale(0.9);
  }
  #system-requirments {
    height: 719px;
  }
  #system-requirments .system-requirments-title h2 {
    font-size: 18px;
    line-height: 18px;
    margin-top: 60px;
  }

  #system-requirments .system-requirments-title h1 {
    font-size: 33px;
    line-height: 33px;
    margin-bottom: 60px;
  }
  #system-requirments .table-container .bendras h3 {
    font-size: 18px;
    line-height: 18px;
  }
  #system-requirments .table-container .bendras p {
    font-size: 14px;
    line-height: 16px;
  }
}
