<%- include('./partials/head') %> <%- include('./partials/nav') %>

<div class="home">
  <h2>Welcome to the Blogs Page!</h2>
  <p>
    Here you can share your ideas, stories, and experiences with the world.
    Every day is an opportunity to create something new and meaningful.
  </p>

  <div class="buttons">
    <button class="create-blog--btn">
      <a href="/create" class="btn">Create a Blog</a>
    </button>
    <button class="blogs--btn">
      <a href="/blogs" class="btn">Explore Blogs</a>
    </button>
  </div>
</div>
<%- include('./partials/footer') %>
