<%- include('./partials/head') %>

<main class="login-page">
  <div class="page-title">
    <h2>Tell Your story with us.</h2>
  </div>
  <div>
    <a href="/login">
      <button class="login-btn">Login</button>
    </a>
    <p>
      <span class="new-here">New here?</span>
    </p>
    <a href="/signup">
      <button class="register-btn">Register</button>
    </a>
  </div>
</main>

<%- include('./partials/footer') %>
